<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    div
      div.bg-under-modal
        a#closeModal
          img(src="/images/close.svg").closeIcon 
        div
        form(method="post" action=urlModif).newParty
            div
                label(for="name") Nom de l'événement
                input(name="name" id="nameModify" required minlength="3" placeholder="Nouvel an")
                label(for="author" required) Votre pseudo
                input(name="author" id="authorModify" required minlength="3" placeholder="John")
                label(for="date") Date de l'événement
                input(name="date" id="dateModify" type="date")
                div.button
                  button(type="submit").btn.rounded 
                    span.text-green Modifier
  </div>
</div>