include ../partials/header.pug
div.newParty__fields
    h2.newParty__fields__title Créer un événement
    form(method="post" action="/party").newParty__form
        label(for="name") Nom de l'événement
        input(name="name" id="name" required minlength="3" placeholder="Nom de l'événement")
        label(for="author" required) Votre pseudo
        input(name="author" id="author" required minlength="3" placeholder="John")
        label(for="date") Date de l'événement
        input(name="date" id="date" type="date")
        div.button
          button(type="submit").btn.rounded 
            span.text-green Créer

div.all__boxes
  h1.all_boxes__title Liste des événements
  each party in parties
    a(href=baseUrl + "/party/" + party._id)
      div.parties__box
        p= party.name
        form(method="post" action=`/party/${party._id}?_method=DELETE`)
              button(class='btnItem')
                img(src="/images/delete.svg" style="width:30px")
  else
    p Il n'y a pas d'evenements crées
