@import "../config/medias.scss";

.newParty__fields {
	margin-bottom: 1em;
	box-shadow: $shadow;

	.newParty__fields__title {
		font-size: 20px;
	}

	// @include medium {
	// 	display: grid;
	// 	grid-template-columns: 175px 1fr;
	// 	grid-gap: 5px;
	// 	max-width: 500px;
	// }

	label {
		display: block;
		@include medium {
			place-self: center end;
		}
	}
}

.newParty__form--button {
	margin: 20px;
	width: 200px;
	border-radius: 25px;
	border: 0.8px solid black;
	height: 35px;
}

input {
	border: 0.8px solid lightgrey;
	padding: 15px 20px;
	border-radius: 25px;
	background: rgba(255, 255, 255, 0.1);
	width: 100%;
}

.newParty__form--item {
	box-shadow: $shadow;
	margin: 40px;
	padding: 10px;
}
